<h1>Welcome to my University Project</h1>
<p><strong>FULLSTACK TECHNOLOGY STUDY ON THE EXAMPLE OF OBJECTS WITH GEOKOORDINATES</strong></p>
<p>Technologies I've used:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='https://www.mongodb.com/de/'>MongoDB</a> for NoSQL database</li>
  <li><a href='https://www.visualstudio.com/de/downloads/'>Visual Studio 2017</a> as integrated development environment for Windows</li> 
</ul>
<p>About me:</p>
<ul>
  <p>Name:         Olga Akymenko</p>
  <p>University:   DHBW Karlsruhe</p>
  <p>Supervisor:   Audin Mir Mohammadi </p>
  <p>Type of work: Course work </p>
</ul>
<p>Githup of my Project: <a href='https://github.com/AkymenkoOlga/AccidentsProject'>AccidentsProject</a></p>
<p>More about the Project in Tab <strong>"About"</strong></p>
<p>Enjoy!</p>
