<h1>About my Project</h1>
<p>
  My idea is to evaluate traffic accident data. Normally we see traffic accidents as coincidental single events. But it may also be that these accidents are not coincidences;
  they can be a consequence of how our roads are designed. The application will help analyze this data, avoiding multiple traffic accidents in the future, and will also contribute
  to the advancement of the transportation industry.
  As part of my project, I have developed a web application that displays the traffic accidents on a map with allowing you to filter them by several tags, as:
</p>
  <ul>
    <li><strong>Fatal:</strong> if somebody has died because of the accident</li>
    <li><strong>Bicycle:</strong> if bicycles ware involved in the accident</li>
    <li><strong>Motorcycle:</strong> if motorcycles ware involved in the accident</li>
    <li><strong>Automobile:</strong> if other automobiles ware involved in the accident</li>
    <li><strong>Night:</strong> if the accident occured at the night</li>
    <li><strong>Day:</strong> if the accident occured at the day</li>
  </ul>
  <p> Also there is an opportunity to see the marked places where most traffic accidents happened and to choose tha date.</p>
  <p> Data was taken from the american government site, and includes accidents, which ware accured in Philadelphia in 2016 year </p>
<p>Go to the tag<strong> "Map" </strong> and try everything by your own! </p>
