<div id="googleMap" class="map"></div>

<mat-card class="date-card">
  <mat-card-content>
    <h3 class="example-h3">Date</h3>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a start date"
         (dateInput)="setStartDate('input', $event)" (dateChange)="setStartDate('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose an end date"
         (dateInput)="setEndDate('input', $event)" (dateChange)="setEndDate('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </mat-card-content>
</mat-card>

<mat-card class="tags-card">
  <mat-card-content>
    <h3>Tags</h3>

    <section class="tags-selection">
      <mat-checkbox class="example-margin" [(ngModel)]="fatal">Fatal</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="bicycle">Bicycle</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="motorcycle">Motorcycle</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="automobile">Automobile</mat-checkbox>
    </section>

    <section class="tags-selection">
      <mat-checkbox class="example-margin" [(ngModel)]="night">Night</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="day">Day</mat-checkbox>
    </section>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="loadAccidents()">Show</button>
    <button mat-raised-button>Reset</button>
  </mat-card-actions>
</mat-card>

