<body>
  <div id="googleMap" style="width:500px;height:380px;"></div>
  <form method="post">
    <fieldset>
      <legend>My tags</legend>
      <table>
        <tr>
          <td><input type="checkbox" name="animal" value="Fatal_Count" />Fatality</td>
          <td><input type="checkbox" name="animal" value="Sch_Bus_Ind" />School Bus</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" value="Bicycle_Count" />Bicycles</td>
          <td><input type="checkbox" name="animal" value="Motorcycle_Count" />Motorcycles</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" value="Automobile_Count" />Cars</td>
          <td><input type="checkbox" name="animal" value="Ped_Count" />Pedestrians involved</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" value="Ped_Fatal" />Pedestrians fatalities</td>
          <td><input type="checkbox" name="animal" value="TFC_Detour_ind" />Traffic Detoured</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" value="Time_of_day_day" />Day</td>
          <td><input type="checkbox" name="animal" value="Time_of_day_night" />Night</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" value="Unb_death_count" />Killed not wearing a seatbelt</td>
        </tr>
      </table>
          <input type="submit" value="Submit" style="background-color:#29a329; color:#ffffff;" />
</fieldset>
</form>
</body>
