<body>
  <div id="googleMap" style="width:500px;height:380px;"></div>
  <form method="post">
    <fieldset>
      <legend>My tags</legend>
      <table>
        <tr>
          <td><input type="checkbox" name="animal" [(ngModel)]="user.Fatal_Count"/>Fatality</td>
          <td><input type="checkbox" name="animal" [(ngModel)]="Sch_Bus_Ind" />School Bus</td>       
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" [(ngModel)]="Bicycle_Count" />Bicycles</td>
          <td><input type="checkbox" name="animal" [(ngModel)]="Motorcycle_Count" />Motorcycles</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" [(ngModel)]="Automobile_Count" />Cars</td>
          <td><input type="checkbox" name="animal" [(ngModel)]="Ped_Count" />Pedestrians involved</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" [(ngModel)]="Ped_Fatal" />Pedestrians fatalities</td>
          <td><input type="checkbox" name="animal" [(ngModel)]="TFC_Detour_ind" />Traffic Detoured</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" [(ngModel)]="Time_of_day_day" />Day</td>
          <td><input type="checkbox" name="animal" [(ngModel)]="Time_of_day_night" />Night</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="animal" [(ngModel)]="Unb_death_count" />Killed not wearing a seatbelt</td>
        </tr>
      </table>
      <input type="submit" value="Submit" style="background-color:#29a329; color:#ffffff;" />
    </fieldset>
  </form>
</body>
