<h1>Accidents table</h1>

<p *ngIf="!accidents"><em>Loading...</em></p>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
    <!--IAD Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Latitude Column -->
    <ng-container matColumnDef="lat">
      <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location.coordinates.lat}} </mat-cell>
    </ng-container>

    <!-- Lonitude Column -->
    <ng-container matColumnDef="lon">
      <mat-header-cell *matHeaderCellDef> Lonitude </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location.coordinates.lon}} </mat-cell>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tags}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>

</div>

<!--<table class='table' *ngIf="accidents">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Latitude</th>
      <th>Lonitude</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accident of accidents">
      <td>{{ accident.id }}</td>
      <td>{{ accident.date }}</td>
      <td>{{ accident.location.coordinates.lat }}</td>
      <td>{{ accident.location.coordinates.lon }}</td>
      <td>{{ accident.tags }}</td>
    </tr>
  </tbody>
</table>-->
